body {
    background-image: url(../images/bg_repeat.png);
    background-repeat: repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style-type: none;
}

img {
    border: none;

}

#bg_placeholder {

    background: url(../images/bg.png);
    background-repeat: no-repeat;
    top: 25%;
    height: 1103px;
    max-width: 1114px;
    width: 100%;
    background-size: 100%;
    position: relative;
    margin: 0 auto;

}

#global_container {

    max-width: 815px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
}

#dashboard_containter {
    background-color: #f5f5f5;
    border-left: solid #cecece 1px;
    border-right: solid #cecece 1px;
    border-bottom: solid #cecece 1px;
    min-height: 450px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    float: left;
    max-width: 940px;
    width: 100%;

}

#dashboard_header_title {
    background-color: #81afc5;
    min-height: 120px;
    border-radius: 10px 10px 0px 0px;
    float: left;
    max-width: 940px;
    width: 100%;
    border-left: 1px solid #81afc5;
    border-right: 1px solid #81afc5;
    border-top: 1px solid #81afc5;
}

#dashboard_header_title img {
    float: left;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

#dashboard_header_title h1 {
    padding-left: 10px;
    float: left;
}

#dashboard_containter p {
    padding: 0 0 0 0px;
}

.dashboard_header_title_text {
    color: #ffffff;
    font-size: 36px;
}

#account_dashboard_icon {
    max-width: 100%;
    height: auto;
}

.clearfix {
    clear: both;
    height: 1px;
    width: 100%;
}

#dashboard_left_col {
    float: left;
    width: 50%;
    min-height: 250px;
}

#dashboard_right_col {
    float: left;
    width: 50%;
    min-height: 250px;
}

#account_lwf {
    padding-left: 65px;
}

#account_lwf:hover {
    opacity: 0.6;
    cursor: pointer;
}

.input_password, .input_username {
    height: 50px;
    background-color: #ffffff;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    max-width: 335px;
    width: 100%;
    border: 1px #dcdcdc solid;
    padding-left: 20px;
    color: #e9e9e9;
    text-transform: capitalize;
    font-size: 16px;
}

.ul_login li {
    padding-top: 10px;
}

.ul_login_actions {
    margin-top: 55px;
}

.ul_login_actions li {
    display: inline;
    float: left;
    padding: 0;
    margin: 0;
}

.li_remember {
    color: #cbcbcb;
    font-size: 16px;
    line-height: 3;
}

.button_fancy {
    background-color: #00a0bc;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 160px;
    min-height: 50px;
    margin: 10px;
    float: right;

}

.button_fancy_delete_all {
    background-color: #C82829;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 160px;
    min-height: 50px;
    margin: 10px;
    float: right;
    text-align: center;
    line-height: 3.5;
    text-transform: capitalize;

}

.button_fancy_delete_all:hover {
    opacity: 0.6;
    cursor: pointer;
}

.button_fancy:hover {
    opacity: 0.6;
    cursor: pointer;
}

.ul_login_actions .button_fancy {
    margin-left: 5px;
}

#hor_tussenstuk {
    margin-left: 20px;
    margin-top: 25px;
}

#ver_tussenstuk {
    float: left;
    margin-top: 35px;
}

.ul_register_header li {
    display: inline;
}

#li_title_register_text {
    color: #8a8a8a;
    font-weight: bold;

}

#li_profile_image_text {
    color: #a7a7a7;
    float: right;
    padding-right: 5px;
    font-size: 14px;
    line-height: 0;
}

#thumb_profile_img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.register_heading_text {
    color: #a1a1a1;
    font-weight: bold;
    padding-bottom: 5px;

}

#input_submit_register {
    background-color: #ffc334;
    border: 0;
    color: #FFFFFF;
    font-size: 25px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 160px;
    min-height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

#input_submit_register:hover {
    opacity: 0.6;
    cursor: pointer;
}

.input_register {
    height: 50px;
    background-color: #ffffff;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    max-width: 335px;
    width: 100%;
    border: 1px #dcdcdc solid;
    padding-left: 20px;
    color: #e9e9e9;
    text-transform: capitalize;
    font-size: 16px;

}

#register_form {
    margin-top: 75px;
}

.li_error_msg {
    color: #C82829;
}

.li_success_msg {
    color: #2ECC71;
}

.comment_boxie {
    max-width: 650px;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 20px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    border: solid #F0F0F0 5px;
    font-size: 12px;
}

.comment_boxie_head {
    max-width: 650px;
    width: 100%;
    min-height: 35px;
    background-color: #81afc5;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    border-left: solid #F0F0F0 5px;
    border-right: solid #F0F0F0 5px;
    border-top: solid #F0F0F0 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 24px;
}

.comment_exist {
    text-align: center;
    magin: 0 auto;
    color: #C82829;
    font-size: 24px;
}

.comment_boxie_head a {
    line-height: 3;
}

.link_comment_delete {
    font-size: 12px;
    color:#F0F0F0 ;
    float: right;
    text-transform: lowercase;
}

.title_comment {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;

    text-transform: uppercase;
    color: #81afc5;
    font-size: 24px;
    border: solid 2px #81AFC5;
}

a {
    text-decoration: none;
}

#comment_area {
    background-color: #F0F0F0;
    padding-top: 10px;
    border-top: solid 2px #CECECE;
}

#cam_hide {
    display: none;

}

#ul_rest_service li {

    padding-top: 5px;
    padding-bottom: 5px;
}

#section_motd input[type=text] {
    font-family: 'Open Sans', sans-serif;
    max-width: 220px;
    width: 100%;
    height: 35px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 0;
    margin-top: 5px;
    padding: 2px;
    border: solid 1px #81AFC5;
    padding-left: 5px;

}
#section_motd textarea {
    font-family: 'Open Sans', sans-serif;
    max-width: 450px;
    width: 100%;
    height: 150px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 0;
    margin-top: 5px;
    padding: 2px;
    border: solid 1px #81AFC5;
    padding-left: 5px;

}

.li_not_inline {
    display: inherit !important;
}
#ul_rest_service {
    border: dashed 2px #CECECE;
}

#section_motd ul:hover {

    cursor: pointer;
}

#section_motd {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: solid 2px #CECECE;
    min-height: 350px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

#li_avatar img {
    max-width: 150px;
    width: 100%;
    height: auto;
}


#ul_rest_service {
    min-height: 150px;
    padding-bottom: 25px;

}

.a_button_fancy {
    background-color: #00a0bc;
    border: 0;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    width: 160px;
    min-height: 50px;
    padding: 15px;
    text-transform: capitalize;

}

#section_motd .li_not_inline {
    margin-top: 20px;
    margin-right: 20px;
}

#section_motd .button_fancy_text {
    line-height: 3;
    text-align: center;
    text-transform: capitalize;
}

.a_button_fancy:hover {
    cursor: pointer;
    opacity: 0.6;
}



#motd_quote blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

}
#motd_quote  blockquote:before {

    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
#motd_quote blockquote p {
    display: inline;
}