@media screen and (max-width: 840px) {
.input_password, .input_username, .ul_login, #hor_tussenstuk, .button_fancy, .ul_login_actions, input ,#register_form {
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        max-width: 95% !important;
        width: 95% !important;
    }

    #dashboard_left_col {
        float: none;
        margin-right: 0;
        width: auto;
    }

    #dashboard_right_col {
        float: none;
        margin-right: 0;
        width: auto;
    }

    #hor_tussenstuk, #ver_tussenstuk {
        display: none;
        visibility: hidden;
    }
    #clearfix_responsive_col {
        visibility: inherit;
        display: inherit;
    }
#account_lwf  {
    max-width: 290px; !important;
    width: 90% !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important
  }
}

img {
    max-width: 100%;
    height: auto;
}
